* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #0f2038;
    background-repeat: no-repeat;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
}

main {
    width: 650px;
    height: 650px;
    background-color: #162a45;
    border-radius: 20px;
    box-shadow: 30px 45px 10px #0d1a2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line {
    display: flex;
    width: 90%;
    height: calc(90% / 3);
    align-items: center;
    justify-content: space-around;
}

.square {
    background-color: #22436e;
    width: calc(80% / 3);
    height: 80%;
    border-radius: 15px;
    box-shadow: 10px 15px 10px #0d1a2b;
    display: flex;
    justify-content: center;
}

#restart {
    margin-top: 60px;
    padding: 20px;
    width: 150px;
    background-color: #22436e;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 15px 10px #0d1a2b;
}

#restart:hover{
    background-color: #29538a;
}

.O:after {
    content: "\2B55";
    font-size: 105px;
}

.X:after {
    content: "\274C";
    font-size: 105px;
}

@media screen and (max-width: 1366px){
    main {
        width: 450px;
        height: 450px;
        box-shadow: 10px 15px 10px #0d1a2b;
    }
    
    .square {
        box-shadow: 5px 10px 10px #0d1a2b;
    }

    #restart{
        margin-top: 35px;
    }

    .O:after {
        font-size: 73px;
    }

    .X:after {
        font-size: 73px;
    }
}

@media screen and (max-width: 820px){
    main {
        width: 340px;
        height: 340px;
        box-shadow: 10px 15px 10px #0d1a2b;
    }
    
    .square {
        box-shadow: 5px 10px 10px #0d1a2b;
    }

    #restart{
        font-size: 20px;
        padding: 15px;
    }

    .O:after {
        font-size: 57px;
    }

    .X:after {
        font-size: 57px;
    }
}