@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    flex-grow:  1;
}

main, footer{
    flex-shrink: 0;
}

html {
    background-image: linear-gradient(to bottom , #8da8ff, #FFF);
    background-repeat: no-repeat;
}

main {
    margin: auto;
    width: 80%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 0px;
}

#left {
    width: 50%;
    margin-right: 3%;
    display: flex;
    justify-content: flex-end;
}

#container-left{
    max-width: 500px;
    position: static;
    right: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Patua One', cursive;
    font-size: 40px;
    color: white;
    text-align: right;
    margin-bottom: 20px;
    margin-top: 15px;
    text-shadow: 5px 5px rgba(0, 0, 0, 30%);
}

#img-churrasco {
    width: 100%;
}

#right {
    width: 50%;
    height: 550px;
    margin-left: 3%;
    display: flex;
    justify-content: flex-start;
}

#container-right {
    background-color: #8da8ff;
    display: flex;
    flex-direction: column;
    padding: 3%;
    height: 500px;
    border-radius: 15px;
    box-shadow: 20px 30px rgba(68, 92, 171, 30%);
    max-width: 350px;
}

#img-churrascometro {
    width: 100%;
    margin: 0px auto;
    margin-bottom: 15px;
}

p {
    color: white;
    margin-bottom: 5px;
    font-size: 25px;
    text-align: center;
}
input {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    border-radius: 15px;
    width: 50%;
    margin: 10px auto 25px;
    background-color: #e3e9ff;
}

button:hover {
    background-color: white;
}

#result {
    margin: 0px auto;
    display: none;
}

.result-block {
    display: flex;
    align-content: center;
}

.icon-result {
    width: 30px;
    margin-right: 10px;
}

footer {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1260px){
    h1{
        font-size: 35px;
    }
}

@media screen and (max-width : 1120px){
    h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 850px) {
    body {
        height: 1100px;
    }

    main {
        display: block;
        width: 90%;
    }
    
    #left {
        width: 100%;
        margin: 20px auto 30px;
        max-width: 300px;
    }

    #right {
        width: 100%;
        max-width: 300px;
        margin: 0px auto;
        box-sizing: border-box;
        height: 525px;
    }

    h1 {
        font-size: 30px;
    }

    .result-block p{
        font-size: 20px;
    }
     button {
         margin-bottom: 15px;
     }

     footer {
         position:static;
         margin-top: 100px;
     }
}